.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #fff;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(93.75rem, 90%);
  margin: 0 auto;
  height: 5rem;
  background-color: #fff;
  pointer-events: auto;
}

.title {
  font-size: clamp(1.25rem, 1.1543rem + 0.4255vw, 1.5rem);
  font-weight: 600;
}

.container p {
  font-size: clamp(1rem, 0.9043rem + 0.4255vw, 1.25rem);
  font-weight: 300;
  letter-spacing: 0;
}

.desktopNav {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
}

.menu li {
  position: relative;
  font-size: 1rem;
}

.menu li:hover {
  color: #7a7a7a;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
  min-width: 150px;
}

.dropdownVisible {
  opacity: 1;
  transform: translateY(0);
}

.dropdownMenu li {
  padding: 10px 20px;
  white-space: nowrap;
}

.dropdownMenu li:hover {
  background-color: #f4f4f4;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.mobileNav {
  position: absolute;
  top: 5rem;
  right: 0;
  width: 100%;
  background: white;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  height: auto;
  padding-bottom: 3rem;
}

.mobileNav.open {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.video {
  position: relative;
}

.mobileDropdown {
  position: absolute;
  top: 0;
  left: calc(50% + 1.5rem);
  background: white;
  list-style: none;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 150px;
}

.mobileDropdown li {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .desktopNav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileNav {
    display: flex;
    height: auto;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
