.portfolioContainer {
  width: min(93.75rem, 90%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 8rem auto 3rem;
}

.content:hover .categoryBox {
  opacity: 0.6;
}

.categoryBox {
  position: relative;
  height: 30rem;
  margin-bottom: 3rem;
  width: 20rem;
  overflow: hidden;
}

.subtitle {
  font-size: clamp(1.25rem, 1.1543rem + 0.4255vw, 1.5rem);
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 1200px) {
  .portfolioContainer {
    justify-content: center;
  }
}
