* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
}

/* main {
  padding-top: 40px;
} */
