* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: 400;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}

main {
  margin-top: 5rem;
}

.swiper-wrapper {
  height: clamp(25rem, 15.4255rem + 42.5532vw, 50rem) !important;
}

.swiper-slide {
  position: relative !important;
  width: 100%;
  height: auto;
  max-height: 43.75rem;
}

.swiper-slide img {
  object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next {
  color: #cdcdcd !important;
}
